body {
  margin:0;
  font-family: 'FuturaStdLight';
}

h1 {
  font-family: 'futura_2rbold';
  text-align: center;
  font-size: 5em;
  margin: 0;
  span {
    color : $tertiary-05;
  }
}

.infos {
  box-shadow: 0 0 20px 0 lightgray;
  border-radius: 10px;
  margin: 0 70px 120px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;

  @media(max-width:768px) {
    margin:0;
  }

  p {
    font-size: 1.2em;
    span {
      font-family: 'FuturaStdBold';
    }
  }
}
